################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ArkanoidGame/.vs/ApplesGame
.vs/Game/FileContentIndex/ac05f3ea-325d-43dd-b364-a6d522497bdc.vsidx
.vs/Game/FileContentIndex/da97afa5-8769-427d-8216-54b05f68a9e0.vsidx
.vs/Game/v17/.suo
.vs/Game/v17/Browse.VC.db
.vs/Game/v17/Browse.VC.db-shm
.vs/Game/v17/Browse.VC.db-wal
.vs/Game/v17/Browse.VC.opendb
.vs/Game/v17/fileList.bin
.vs/Game/v17/ipch/AutoPCH/13df8b69b3f70c18/GAMESTATEPAUSE.ipch
.vs/Game/v17/ipch/AutoPCH/1a9ad6cf131244ed/APPLES.ipch
.vs/Game/v17/ipch/AutoPCH/1b1f5bd85d746ea5/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/1feffc58b8ee6dbb/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/201184109a2c390/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/23144c548c262559/MENU.ipch
.vs/Game/v17/ipch/AutoPCH/264c03025f8d6d1f/GAMESTATERECORDSTABLE.ipch
.vs/Game/v17/ipch/AutoPCH/28dbd2d61448f445/EXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/2a245843da789a73/GAMESTATEMAINMENU.ipch
.vs/Game/v17/ipch/AutoPCH/2d291932802c0c86/GAMESTATEPAUSE.ipch
.vs/Game/v17/ipch/AutoPCH/2d54e96e4a0c1d8/GAMESTATEEXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/2da31b3c68353723/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/2ddab509c43aa177/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/2e0e04034f9b0d40/MENU.ipch
.vs/Game/v17/ipch/AutoPCH/2e7094752f0690c0/APPLE.ipch
.vs/Game/v17/ipch/AutoPCH/2f3ae4660c5b6112/APPLES.ipch
.vs/Game/v17/ipch/AutoPCH/33264a057a7316f6/BALL.ipch
.vs/Game/v17/ipch/AutoPCH/3497b884f81d97f5/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/35a335d7f0cf27c4/EXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/36d22479f6498080/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/36d23a02a9adec4/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/38de1c99624cb651/APPLICATION.ipch
.vs/Game/v17/ipch/AutoPCH/38e000beeca6f3d4/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/39a60b7fd70a5c50/PAUSE.ipch
.vs/Game/v17/ipch/AutoPCH/39ca421180627b7/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/3a9aac5a87154e64/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/3edc5135e166324f/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/3f052de35f4f4cc1/GAMESTATEMAINMENU.ipch
.vs/Game/v17/ipch/AutoPCH/3f42c55fee599f6c/APPLE.ipch
.vs/Game/v17/ipch/AutoPCH/421f49750e4c5604/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/435506728400d409/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/43b7fd44eefe29b9/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/46ceae28466823f7/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/46db58987c8a4983/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/48513a04f04729f0/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/4ac27ec973e0f9f4/SOUNDS.ipch
.vs/Game/v17/ipch/AutoPCH/4e6ab293b8f20f26/UI.ipch
.vs/Game/v17/ipch/AutoPCH/4f97561f7d197a9f/NEW_SCALAR.ipch
.vs/Game/v17/ipch/AutoPCH/5371d095fba59b1e/NEW_SCALAR.ipch
.vs/Game/v17/ipch/AutoPCH/54b6fd0778fb00dd/ROCKS.ipch
.vs/Game/v17/ipch/AutoPCH/54c47f7afd9ac72a/RECORDSTABLE.ipch
.vs/Game/v17/ipch/AutoPCH/57b960a8adc8aa4/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/5c6bc52693e24be1/GAMESTATEEXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/5ce5768ed5bdbba9/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/5f903ea4fa5e756d/ISLAND.ipch
.vs/Game/v17/ipch/AutoPCH/6141869b3d965e31/APPLES.ipch
.vs/Game/v17/ipch/AutoPCH/632deddf06d230e0/GAMESTATEMAINMENU.ipch
.vs/Game/v17/ipch/AutoPCH/65e138f669ccaba2/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/66297db30c9cb38e/MATH.ipch
.vs/Game/v17/ipch/AutoPCH/6879c414fadf758e/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/68c5d216f0899dea/TABLE.ipch
.vs/Game/v17/ipch/AutoPCH/69009e3903bb2e80/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/6957072f14d57f17/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/6977e06dafb634a2/GAMESTATEMAINMENU.ipch
.vs/Game/v17/ipch/AutoPCH/6a10663b0119345a/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/6a1edb7f5260deea/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/6a40a144913d9cb8/TEXT.ipch
.vs/Game/v17/ipch/AutoPCH/6bc1936fc6d91722/GAMESTATERECORDSTABLE.ipch
.vs/Game/v17/ipch/AutoPCH/6bfc5f8e52eb6492/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/6ebb493426de1f60/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/6ef2788c2df762a3/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/6f274ea67a625c42/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/6f49faa3b11a143b/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/707580108755aa34/NEW_SCALAR.ipch
.vs/Game/v17/ipch/AutoPCH/71e58bf210682822/GAMESTATEMENU.ipch
.vs/Game/v17/ipch/AutoPCH/7471ed6ebea0776c/ROCKS.ipch
.vs/Game/v17/ipch/AutoPCH/759f5d000b8ddbaf/APPLE.ipch
.vs/Game/v17/ipch/AutoPCH/75eaef76e61628c3/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/7719688cdc44b419/GAMESTATEPAUSE.ipch
.vs/Game/v17/ipch/AutoPCH/77f8de9d695da1e3/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/7860f5bfbb2c372b/BALL.ipch
.vs/Game/v17/ipch/AutoPCH/7bf579e88864b521/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/7e3c19c81406582d/GRID.ipch
.vs/Game/v17/ipch/AutoPCH/86afd1bbfbc07d01/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/891a590cba545a04/GAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/89c452ef448e84f4/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/89ea64b0be6373f0/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/8dff17fe470a7b57/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/907327a635146d28/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/9330b9a19dd05195/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/93b4e3f7bad7615/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/95d2dec0b5833441/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/975e9667596fa7e8/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/98b6c30416f6eb52/MENU.ipch
.vs/Game/v17/ipch/AutoPCH/9b19319300294bc2/GAMESTATERECORDSTABLE.ipch
.vs/Game/v17/ipch/AutoPCH/9cb0a1632d76de91/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/9d78bf1f302a80c0/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/a0a060697d38c173/GAMESTATEEXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/a2bb6833ae042fcb/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/a3645dde04bd9027/SPRITE.ipch
.vs/Game/v17/ipch/AutoPCH/a7c24c8c7c0ed278/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/a7e408f51be47a34/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/a9efdb3f292896f/ISLAND.ipch
.vs/Game/v17/ipch/AutoPCH/aa1159b26b154cf3/CONSOLEAPPLICATION1.ipch
.vs/Game/v17/ipch/AutoPCH/ab564531b963db01/VCTMP33568_705321.MENU.00000000.ipch
.vs/Game/v17/ipch/AutoPCH/ad743a3f5c4f2d68/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/adec7e06d16884d5/GAMESTATENAMEINPUT.ipch
.vs/Game/v17/ipch/AutoPCH/ae5989fa0a43c07/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/aecfe1e377212f7a/MATH.ipch
.vs/Game/v17/ipch/AutoPCH/af156576aa2c5869/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/b06f2fadad694a64/APPLE.ipch
.vs/Game/v17/ipch/AutoPCH/b13c1de56b8c46a1/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/b292fa5d52c1403e/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/b29da693fadfcc32/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/b3b3ea88f12a2de1/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/b4a0d4f45849033/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/b4c491ee31084fcf/BALL.ipch
.vs/Game/v17/ipch/AutoPCH/b55dad058bb18a02/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/b60b32adf9a9c026/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/b7d8885a816203b/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/b8b4f7014fbe96c2/CONSTANTS.ipch
.vs/Game/v17/ipch/AutoPCH/b8fc365d418be162/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/ba080b2622ac4c87/GAMESTATEGAMEOVER.ipch
.vs/Game/v17/ipch/AutoPCH/ba486c836b28acf0/APPLES.ipch
.vs/Game/v17/ipch/AutoPCH/baef897e6106c39f/GAMESETTINGS.ipch
.vs/Game/v17/ipch/AutoPCH/bba32fbf8556e3a3/MENU.ipch
.vs/Game/v17/ipch/AutoPCH/bc0cf4ad4179255e/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/bd24342e8f69d5a1/MATH.ipch
.vs/Game/v17/ipch/AutoPCH/c06d2c63bbc41105/MATH.ipch
.vs/Game/v17/ipch/AutoPCH/c0f514919a97b35/SOUNDS.ipch
.vs/Game/v17/ipch/AutoPCH/c2fcc5f010891be4/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/c35154e9856071e2/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/c46e21758254ec86/PLAYER.ipch
.vs/Game/v17/ipch/AutoPCH/c716646e7e0508cb/GAMESTATENAMEINPUT.ipch
.vs/Game/v17/ipch/AutoPCH/c76be2cafe6b3297/GAMESTATEMENU.ipch
.vs/Game/v17/ipch/AutoPCH/c7ca1ce1dfd1ea03/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/ca9f320d73bb20d9/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/cbc197fca80f3e96/APPLICATION.ipch
.vs/Game/v17/ipch/AutoPCH/cde04215d101e0e3/GAMESTATEPAUSE.ipch
.vs/Game/v17/ipch/AutoPCH/cde44627bd54e793/THROW_BAD_ALLOC.ipch
.vs/Game/v17/ipch/AutoPCH/ce5ab8fa0714548f/RECORDSTABLE.ipch
.vs/Game/v17/ipch/AutoPCH/d263b0af8133eb5d/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/d391c8526cd0dc0/GAMESETTINGS.ipch
.vs/Game/v17/ipch/AutoPCH/d5ed74a1b8f4e190/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/d8ab0df003c7f1b5/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/d90ac7381fd3ea76/GAMESTATEEXITDIALOG.ipch
.vs/Game/v17/ipch/AutoPCH/dd7813ad39afb639/TEXT.ipch
.vs/Game/v17/ipch/AutoPCH/de691ca33d98f528/MENU.ipch
.vs/Game/v17/ipch/AutoPCH/df4e9f679e898ced/APPLE.ipch
.vs/Game/v17/ipch/AutoPCH/e0aa2d3dd69a6e72/SPRITE.ipch
.vs/Game/v17/ipch/AutoPCH/e0ef0017b68a898c/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/e2e94618acee982a/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/e55d47d94eaec67c/GRID.ipch
.vs/Game/v17/ipch/AutoPCH/e79386ebebb20122/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/e859129858d0d014/GAMESTATENAMEINPUT.ipch
.vs/Game/v17/ipch/AutoPCH/ec76ea4868d028fa/NEW_SCALAR.ipch
.vs/Game/v17/ipch/AutoPCH/ee1afd0dc1b3c206/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/efa531f8ce3b3c87/GAMESTATEMENU.ipch
.vs/Game/v17/ipch/AutoPCH/f24a24b9bf2a8add/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/f326e30b5f423e8/ROCKS.ipch
.vs/Game/v17/ipch/AutoPCH/f3b042503e9065aa/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/f8fc9f8ea1704237/MATH.ipch
.vs/Game/v17/ipch/AutoPCH/f964dfa63b3cd345/GAMESTATEPLAYING.ipch
.vs/Game/v17/ipch/AutoPCH/fa612fa9c53f1cbe/GAMEMAIN.ipch
.vs/Game/v17/ipch/AutoPCH/faceeb31a96426b7/GAME.ipch
.vs/Game/v17/ipch/AutoPCH/fdd1cc3334bd5a1e/PLAYER.ipch
.vs/Game/v17/Solution.VC.db
.vs/Game/v17/Solution.VC.db-shm
.vs/Game/v17/Solution.VC.db-wal
